body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero {
    font-family: Roboto;
    background-color: #1f2937;
    padding-bottom: 40px;
}

.upper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    flex-wrap: wrap;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: #e5e7eb;
}

.lower-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    flex-wrap: wrap;
    padding-right: 50px;
    padding-top: 20px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 24px;
    color: #e5e7eb;
    width: 600px;
    padding-right: 50px;
    flex-wrap: wrap;
}

.profile-image-holder {
    width: 200px;
    height: 140px;
    background-color: grey;
    font-size: 16px;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.info {
    justify-content: center;
    align-items: center;
}

.info-text {
    text-align: center;
    font-size: 24px;
    color: gray
}

img {
    width: 200px;
    height: 140px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    flex-wrap: wrap;
 }

.end {
    text-align: end;
    margin-right: 50px;
    font-weight: bold;
}

.container {
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.call-to-action {
    display: flex;
    background-color: #3882F6;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.action-header {
    font-size: 24px;
    color: #F9FAF8;
}
.action-content {
    color: #e5e7eb;
    font-size: 24px;
}

button {
    background-color: #3882F6;
    font-size: 24px;
    color: #e5e7eb;
    border-radius: 8%;
    border: 1px solid white;
}

.footer {
    background-color: #1f2937;
    font-size: 24px;
    color: #e5e7eb;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
